img
{
	display: block;
	margin: auto;
}
button
{
	display: block;
	width: 80%;
	height: 30%;
	font-size: 200%;
	background: #dddddd;
	border-radius:6px;
	border:none;
	margin: 5px auto;
	padding: 10px;
}

button.small
{
	height: 10%;
	width: 30%;
}

#client-qr
{
	margin: 10px auto 10px auto;
	width: 400px;
}

p.charging
{
	font-size: 18px;
	font-family:sans-serif;
}


#statusContainer{
	text-align:center;
	font-size:xx-large;
}

#customerNumber > span, #currentNumber > span, #estimatedTime > span{
	font-size:x-large;
}

#sliderContainer
{
	display: none;
	text-align:center;
	font-size:xx-large;
}

.ui-slider
{
	background: url(human.png) repeat-x;
	background-size: 30px 100%;
	border: none;
	border-radius: 0;
	height: 50px !important;
}

.ui-slider-handle, .ui-state-hover, .ui-state-default
{
	display: block;
	background-color: green;
	background: url(human-active.png) repeat-x !important;
	background-attachment: fixed;
	background-size: 40px 100% !important;
	height: 60px !important;
}

#slider{
	float: left;
	width:20%;
	margin-left: 40%
}

.payments
{
	display: none;
}

#host-controls
{
	display: none;
}

#vendor
{
	float: left;
	background-color: gray;
	margin-left: 10px;
	width: 30px;
	height: 50px;
}
